.header {
    display: flex
}
.wrap {
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }
#portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
    
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    background-color: #0074d9;
    height: 20px;
    width: 20px;
    transform: scale(20);
    font-size: 1px;
    padding: 1px;
    color: white;
    line-height: 2px;
    justify-content: space-around;
}



/* Style the navbar */
.nav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .nav-item a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }